<table id="example" class="table table-striped dt-responsive nowrap" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
      <%@all_users.each do |x|%>
  	     <tr>
           <td><%=x.name%></td>
           <td><%=x.phone%></td>
           <td><%=x.email%></td>
           <td>
             <%=link_to controller: "user", action: "edit", id:x.id do%>
             <i class="far fa-edit fa-2x"></i>
             <%end%>
           </td>
           <td>
             <%=link_to controller: "user", action: "destroy", id:x.id do%>
             <i class="far fa-trash-alt fa-2x"></i>
             <%end%>
           </td>
         </tr>
      <%end%>
    </tbody>
</table>
<a href="/user/new">
<button type="button" class="btn btn-success" name="button">Add new user</button>
</a>
